/* index.css */
/* rest.css */
@import url(reset.css);

/* font */
@font-face {
  font-family: 'Cairo-ExtraLight';
  src: url(../font/Cairo-ExtraLight.ttf);
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
/* font-family: 'Cairo', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400&display=swap');
/* font-family: 'Cairo', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap');
/* font-family: 'Cairo', sans-serif; */

@font-face {
  font-family: 'Pretendard-Thin';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-ExtraLight';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* font-family: Plantin Std; */


/* mobile view */
@media screen and (max-width: 768px) {
  #wrap {
    display: none;
  }

  #m_wrap {
    width: 100%;
  }




}

/* // mobile view */


/* pc view */
@media screen and (min-width: 769px) {

#m_wrap {
  display: none;
}
  
#wrap {
  width: 100%;
  /* overflow: hidden; */
}

body, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

html, body {
  position: relative;
  font-family: 'pretendard';
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

/* 로딩화면 */
.preloader {
  width: 100%;
  height: 100vh;
}

/* 마우스 포인터 style */
/* 기본 색상 변수에 담기 */
html {
  --color-texta: #6d6d6d;
  --color-textb: #000000;
}
/* 시스템 커서 안 보이게 숨기기 */
body {
  /* cursor: none; */
}
/* 커스텀 커서 스타일 정의해주기 */
.cursor {
  width: 2vw;
  height: 2vw;
  border: .1vw solid var(--color-texta);
  border-radius: 50vw;
  position: absolute;
  z-index: 1000;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  /* transform-origin: 100% 100%; */
  /* backdrop-filter: blur(5px); */
  background-size: cover;
}
.cursor-grow {
  transform: scale(3);
  background-color: var(--color-texta);
}

/* 스크롤바 style */
body::-webkit-scrollbar {
  width: .55vw;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
  height: 8vw; /* 스크롤바의 길이 */
  background: #fff; /* 스크롤바의 색상 */
  border-radius: 30rem;
}

body::-webkit-scrollbar-track {
  /* background: rgba(255, 255, 255, 0.1);  스크롤바 뒷 배경 색상 */
  background: #E7E7ED;
}


/* 텍스트 드래그 했을때 style */
::selection {
  background-color: #333;
  color: #ffffff;
}

/* 오른쪽에서 왼쪽으로 */
.section-group--horizontal-left {
  display: flex;
}
.section {
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
}

/* .section-group--1>.page3,
.section-group--1>.page4,
.section-group--1>.page5,
.section-group--2>.page6 {
  background: #FDF5F5;
} */

.section-group--1>.page3 {
  background: #E7E7ED;
}
.section-group--1>.page4 {
  background: #E7E7ED;
  /* background-image: linear-gradient(to right, #FDF5F5, #F3ECF6); */
}
.section-group--1>.page5 {
  background: #E7E7ED;
}
.section-group--2>.page6 {
  background: #E7E7ED;
  /* background-image: linear-gradient(to bottom, #F3ECF6, #fffde7); */
}

/* 첫번째 구간 (좌->우) */

/* 1 페이지 */
section.page1 {
  display: flex;
  /* flex-direction: column; */
  
}
section.page1.on {

}

/* header */
#header {
  display: block;
  position: relative;
  width: 6vw;
  height: 100%;
  opacity: 0;
  transform: translateY(-100%);
  transition: all 1.2s ease-in-out 2.8s;
}
#header.on {
  opacity: 1;
  transform: translateY(0);
}
#header.active {
  position: relative;
  width: 6vw;
  height: 100%;
  border-bottom: .1rem solid #bdbdbd;
  background: rgba(255, 255, 255, 0.137);
  filter: blur(.2vw);
  -webkit-filter: blur(.2vw);
  z-index: -999;
}
.header_wrap {
  position: relative;
  width: 6vw;
  height: 100%;
  /* border-right: 1px solid #a8a8a8; */
  transition: all .4s;
}
.header_wrap:after {
  content: "";
  position: absolute;
  top: 0;
  left: 6vw;
  width: .05rem;
  height: 100%;
  background: #a8a8a8;
}
.header_inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  gap: 17.5vw;
  height: 100%;
  padding: 1.5rem;
}
.header_inner>h1 {
}
.header_inner>h1>a {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: -.5rem;
  font-family: 'Cairo-ExtraLight';
  font-size: 1.8rem;
  transform: rotate(-90deg);
}
.header_inner>h1>a>span {
  margin-top: -.7rem;
  font-family: 'Cairo-ExtraLight';
  font-size: 0.5rem;
}

/* 메뉴 아이콘 */
span.menu>h2>a {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-bottom: 2.4rem;
  background: url(../img/menu.svg) no-repeat 50%;
  background-size: contain;
  text-indent: -9999vw;
  transition: all .7s ease;
  /* background: #fff; */
  /* animation: rotate-anime 5s linear infinite; */
}
@keyframes rotate-anime {
  /* 0% { transform: rotate(0); }
100% { transform: rotate(360deg); } */
}
span.menu>h2>a:hover {
  transform: rotate(90deg);
}

/* contact now */
.header_inner>.contact {
  /* margin-bottom: 25px; */
  transform: rotate(-90deg);
}
.header_inner>.contact>button {
  font-size: 1.5rem;
  font-family: 'Cairo-ExtraLight';
  /* 초기화 */
  background: inherit ; border:none; box-shadow:none;
  border-radius:0; overflow:visible; cursor:pointer;
}

/* 네비게이션 */
#nav {
  /* display: none; */
  position: absolute;
  top: 0;
  left: -150vw;
  width: 150vw;
  height: 50vh;
  z-index: 100;
  background: #111111;
  border-radius: 50rem;
  transition: left .8s ease-in-out 0s;
  /* z-index: 1; */
  animation: navActive 1s;
}
@keyframes navActive {
  0% {transform: scale(0);}
  100% {transform: scale(1);}
}
#nav.on {
  /* display: block; */
  left: -25vw;
}
.nav_bottom {
  position: absolute;
  top: 50vh;
  left: -150vw;
  width: 150vw;
  height: 50vh;
  z-index: 100;
  background: #111111;
  border-radius: 50rem;
  transition: left .9s ease-in-out .05s;
  z-index: -1;
  animation: navActive 2s;
}
@keyframes navActive {
  0% {transform: scale(0);}
  100% {transform: scale(1);}
}
.nav_bottom.on {
  /* display: block; */
  left: 0vw;
}
body.on {
  /* 기준 : 스크린 크기 (스크릔 크기 그대로 body가 바뀌기 때문에 스크롤이 안생김) */
  position: fixed;
  /* left: 0;
  top: 0; */
  width: 100%;
  height: 100%;
}

#nav>.nav_inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 5rem 13rem;
  opacity: 0;
  transition: all .8s linear 1s;
}
#nav>.nav_inner.on {
  opacity: 1;
}
.nav_inner>.nav_header {
  display: flex;
  justify-content: space-between;
}

.nav_inner>.nav_header>.btn_close>button {
  position: relative;
  color: #fff;
  font-size: 1rem;
  font-family: 'Pretendard-ExtraLight';
  text-indent: 2.2rem;
  background: inherit ; border:none; box-shadow:none; border-radius:0;
  padding:0; overflow:visible; cursor:pointer;
}
.nav_inner>.nav_header>.btn_close>button:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 1.1rem;
  height: 1.1rem;
  background:  url(../img/clp.svg) no-repeat;
  background-size: contain;
}

.nav_inner>.nav_header>.nav_logo>a {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: -1.7rem;
  font-family: 'Cairo-ExtraLight';
  font-size: 2.1rem;
  color: #fff;
  /* border: 1px solid orange; */
}
.nav_inner>.nav_header>.nav_logo>a>span {
  margin-top: -.6rem;
  font-family: 'Cairo-ExtraLight';
  font-size: 0.5rem;
  color: #fff;
}

.nav_inner>.nav_header>.icon>ul {
  display: flex;
  gap: 1.9rem;
}
.nav_inner>.nav_header>.icon>ul>li:first-of-type>a {
  display: block;
  width: 2rem;
  height: 2rem;
  background: url(../img/github_ico.svg) no-repeat;
  background-size: 2rem 2rem;
  transition: all .3s linear;
}
.nav_inner>.nav_header>.icon>ul>li:first-of-type>a:hover {
  transform:translate(0,-.4rem);
}
.nav_inner>.nav_header>.icon>ul>li:last-of-type>a {
  display: block;
  width: 2rem;
  height: 2rem;
  background: url(../img/email_wh_ico.svg) no-repeat;
  background-size: 2rem 2rem;
  transition: all .3s linear;
}
.nav_inner>.nav_header>.icon>ul>li:last-of-type>a:hover {
  transform:translate(0,-.4rem);
}
.nav_inner>.nav_header>.icon>ul>li>a {
  display: block;
  color: transparent
  /* text-indent: -999999px; */
}

.nav_inner>.nav_list {
  margin: 0 auto;
  text-align: center;
}

.nav_inner>.nav_list>ul>li>a {
  position: relative;
  line-height: 1.9;
  letter-spacing: .2rem;
  color: #fff;
  font-family: 'Cairo', sans-serif;
  font-weight: 300;
  font-size: 3.5rem;
  background: inherit ; border:none; box-shadow:none; border-radius:0;
  padding:0; overflow:visible; cursor:pointer;
  transition: all .8s ease;
}
.nav_inner>.nav_list>ul>li>a:hover {
  color: #ffbcbc;
  /* left: 1rem; */
  /* transition: all .5s ease; */
  /* font-family: 'Pretendard-Thin'; */
}

.nav_inner>.nav_list>ul>li>a:hover:after {
  content: "";
  position: absolute;
  top: 45%;
  right: -1.3rem;
  width: .8rem;
  height: 0.8rem;
  background: #ffbcbc;
  border-radius: 50%;
  animation: leftright .38s infinite alternate;
  transition: all .38s linear;
}
@keyframes leftright {
  0% {transform:translate(0,0);}
  100% {transform:translate(.5rem,0);}
} 

.nav_inner>.nav_foot {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.nav_inner>.nav_foot>ul {
  bottom: 0;
}
.nav_inner>.nav_foot>ul>li {
  color: #fff;
  font-family: 'Pretendard-Thin';
}
.nav_inner>.nav_foot>ul>li>a {
  color: #fff;
}
.nav_inner>.nav_foot>ul>li>a:hover {
  color: #ffbcbc;
  transition: all .5s ease;
}
.nav_inner>.nav_foot>span {
  color: #fff;
  font-size: .9rem;
  font-family: 'Pretendard-Thin';
}
.nav_inner>.nav_foot>span:first-of-type {
  padding-left: 1rem;
}
.nav_inner>.nav_foot>span:last-of-type {
  display: block;
  position: relative;
  padding: 2.6rem 1.4rem 0 0;
  color: #ffbcbc;
}
.nav_inner>.nav_foot>span:last-of-type:after {
  content: "";
  position: absolute;
  top: 67%;
  right: 0;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.1rem;
  background: url(../img/slp.svg) no-repeat;
  background-size: contain;
}


/* main */
.main_txt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 2rem;
  z-index: -1;
}
.scroll_right {
  position: absolute;
  top: 2rem;
  right: 3rem;
  /* 안깨지는 크기 */
  /* width: 3.3rem;
  height: 3.3rem; */
  width: 6rem;
  height: 6rem;
  margin-bottom: 15rem;
  background: url(../img/arrow_right.gif) no-repeat;
  opacity: 0;
  background-size: contain;
  transition: all 1s ease-in-out 4s;
}
.scroll_right.on {
  opacity: 20%;
  transform: translateX(0);
}
.scroll_right>span {
  display: block;
  width: 2rem;
  height: 2rem;
  font-size: .01rem;
  color: #fff;
  z-index: -10;
}


.main_txt>.video {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600vw;
  opacity: 0;
  transform: translateX(-10%);
  transition: all 1.5s ease-in-out 1.5s;
}
.main_txt>.video.on {
  opacity: 1;
  transform: translateX(0);
}
.main_txt>.video video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 17rem;
  object-fit: cover;
}
.main_txt>.video>.title {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 17rem;
  /* margin: 30px; */
  background: #fff;
  mix-blend-mode: screen;
  overflow: hidden;
  opacity: 0;
  transform: translateX(-5%);
  transition: all 2s ease-in-out 0s;
}
.main_txt>.video>.title.on {
  opacity: 1;
  transform: translateX(0);
}
.main_txt>.video>.title>h2 {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 12.2vw;
  font-weight: 700;
  line-height: .85;
  letter-spacing: -1.25vw;
}

/* .main_txt>.video>.title>h2>span:first-of-type {
  opacity: 0;
  transform: translateY(-500px);
  transition: all 1.0s linear 0.5s;
}

.main_txt>.video>.title>h2>span:nth-of-type(2) {
  opacity: 0;
  transform: translateY(-500px);
  transition: all 1.5s ease 0.5s;
}

.main_txt>.video>.title>h2>span:nth-of-type(3) {
  opacity: 0;
  transform: translateY(-500px);
  transition: all 2s ease 0.5s;
}

.main_txt>.video>.title.on>h2>span:first-of-type,
.main_txt>.video>.title.on>h2>span:nth-of-type(2),
.main_txt>.video>.title.on>h2>span:nth-of-type(3) {
  opacity: 1;
  transform: translateY(0);
} */


/* 2 페이지 */
section.page2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5rem;
  background-image: linear-gradient(to right, white, #E7E7ED);
}

.page2>p.txt {
  /* padding-top: -2rem; */
  line-height: 1.1;
  font-size: 8.5rem;
  font-family: 'Cairo-ExtraLight';
  /* opacity: 0;
  transform: translateY(100%);
  transition: all 1.3s ease-in-out; */
}
.page2>p.txt.on {
  /* opacity: 1;
  transform: translateY(0); */
}
.page2>p.txt>span:first-of-type,
.page2>p.txt>span:nth-of-type(2),
.page2>p.txt>span:nth-of-type(3),
.page2>p.txt>span:nth-of-type(4),
.page2>p.txt>span:nth-of-type(5),
.page2>p.txt>span:nth-of-type(6),
.page2>p.txt>span:nth-of-type(7),
.page2>p.txt>span:nth-of-type(8),
.page2>p.txt>span:nth-of-type(9),
.page2>p.txt>span:last-of-type
 {
  opacity: 0.05;
  transition: all 1.5s ease;
}
/* discriminatory 왼쪽으로 붙이기 */
.page2>p.txt>span:nth-of-type(6) {
  margin-left: -2rem;
}
.page2>p.txt>span:first-of-type.on,
.page2>p.txt>span:nth-of-type(2).on,
.page2>p.txt>span:nth-of-type(3).on,
.page2>p.txt>span:nth-of-type(4).on,
.page2>p.txt>span:nth-of-type(5).on,
.page2>p.txt>span:nth-of-type(6).on,
.page2>p.txt>span:nth-of-type(7).on,
.page2>p.txt>span:nth-of-type(8).on,
.page2>p.txt>span:nth-of-type(9).on,
.page2>p.txt>span:last-of-type.on {
  opacity: 1;
}
.page2>p.txt>span:nth-of-type(5).on,
.page2>p.txt>span:nth-of-type(6).on {
  background: linear-gradient(to right top, #5a94dc, #7add75);
  color: transparent;
  -webkit-background-clip: text;
  /* font-family: 'Cairo', sans-serif; */
  font-weight: 500;
}
/* .page2>p.txt>span.on {
  opacity: 1;
} */

.page2>ul.txt_wrap {
  position:relative;
  overflow:hidden;
  text-align: right;
  font-size: 1.5rem;
}



/* 3 페이지 */
.page3 {
  position: relative;
  width: 100%;
  padding: 2.5rem;
}

/* move menu */
.page3 .move_menu {
  position: relative;
}
.page3 .move_menu>button {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 108rem;
  width: 2rem;
  height: 2rem;
  margin-bottom: 2.4rem;
  background: url(../img/menu.svg) no-repeat 50%;
  background-size: contain;
  /* text-indent: -999999vw; */
  transition: all 1s ease 1s;
  border:none;
  cursor:pointer;
  z-index: 1;
  /* animation: rotate-anime 6s infinite linear; */
  opacity: 0;
}
@keyframes rotate-anime {
  /* 0% { transform: rotate(0); }
100% { transform: rotate(360deg); } */
}
.page3 .move_menu>button.on {
  /* display: block; */
  opacity: 1;
}
.page3 .move_menu:hover {
  /* transform: rotate(90deg); */
}
.page3 .move_menu>button>span {
  opacity: 0;
}


/* move nav */
.page3 .move_nav {
  display: none;
  position: absolute;
  top: -155vh;
  left: -2.5rem;
  width: 50vw;
  height: 200vh;
  background: #111111;
  border-radius: 50rem;
  transition: bottom .8s ease-in-out 0s;
  z-index: 1;
  animation: page3NavActive 1s;
}
@keyframes page3NavActive {
  0% {transform: scale(0);}
  100% {transform: scale(1);}
}
.page3 .move_nav.on {
  display: block;
  top: -55vh;
}
.page3 .move_nav_bottom{
  display: none;
  position: absolute;
  top: -155vh;
  left: 49.5vw;
  width: 50vw;
  height: 200vh;
  background: #111111;
  border-radius: 50rem;
  transition: bottom .8s ease-in-out 0s;
  z-index: -1;
  animation: page3NavActive 1s;
}
@keyframes page3NavActive {
  0% {transform: scale(0);}
  100% {transform: scale(1);}
}
.page3 .move_nav_bottom.on {
  display: block;
  top: -0vh;
}


.page3 .move_nav>.nav_inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  margin: 30rem auto;
  padding: 5rem 13rem;
  z-index: 1;
  opacity: 0;
  transition: all .8s linear 1s;
}
.page3 .move_nav>.nav_inner.on {
  opacity: 1;
}
.page3 .move_nav>.nav_inner>.nav_header {
  display: flex;
  justify-content: space-between;
}

.page3 .move_nav>.nav_inner>.nav_header>.btn_close>button {
  position: relative;
  color: #fff;
  font-size: 1rem;
  font-family: 'Pretendard-ExtraLight';
  text-indent: 2.2rem;
  background: inherit ; border:none; box-shadow:none; border-radius:0;
  padding:0; overflow:visible; cursor:pointer;
}
.page3 .move_nav>.nav_inner>.nav_header>.btn_close>button:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 1.1rem;
  height: 1.1rem;
  background:  url(../img/btn_close_lp.svg) no-repeat;
  background-size: contain;
}

.page3 .move_nav>.nav_inner>.nav_header>.nav_logo>a {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: -1.7rem;
  font-family: 'Cairo-ExtraLight';
  font-size: 2.1rem;
  color: #fff;
  /* border: 1px solid orange; */
}
.page3 .move_nav>.nav_inner>.nav_header>.nav_logo>a>span {
  margin-top: -.6rem;
  font-family: 'Cairo-ExtraLight';
  font-size: 0.5rem;
  color: #fff;
}

.page3 .move_nav>.nav_inner>.nav_header>.icon>ul {
  display: flex;
  gap: 1.9rem;
}
.page3 .move_nav>.nav_inner>.nav_header>.icon>ul>li:first-of-type>a {
  display: block;
  width: 2rem;
  height: 2rem;
  background: url(../img/github_ico.svg) no-repeat;
  background-size: 2rem 2rem;
  transition: all .3s linear;
}
.page3 .move_nav>.nav_inner>.nav_header>.icon>ul>li:first-of-type>a:hover {
  transform:translate(0,-.4rem);
}
.page3 .move_nav>.nav_inner>.nav_header>.icon>ul>li:last-of-type>a {
  display: block;
  width: 2rem;
  height: 2rem;
  background: url(../img/email_wh_ico.svg) no-repeat;
  background-size: 2rem 2rem;
  transition: all .3s linear;
}
.page3 .move_nav>.nav_inner>.nav_header>.icon>ul>li:last-of-type>a:hover {
  transform:translate(0,-.4rem);
}
.page3 .move_nav>.nav_inner>.nav_header>.icon>ul>li>a {
  display: block;
  color: transparent
  /* text-indent: -999999px; */
}

.page3 .move_nav>.nav_inner>.nav_list {
  margin: 7rem auto;
  text-align: center;
}

.page3 .move_nav>.nav_inner>.nav_list>ul>li>a {
  position: relative;
  line-height: 1.9;
  letter-spacing: .2rem;
  color: #fff;
  font-family: 'Cairo', sans-serif;
  font-weight: 300;
  font-size: 3.5rem;
  background: inherit ; border:none; box-shadow:none; border-radius:0;
  padding:0; overflow:visible; cursor:pointer;
  transition: all .5s ease;
}
.page3 .move_nav>.nav_inner>.nav_list>ul>li>a:hover {
  color: #ffc5c5;
  /* font-family: 'Pretendard-Thin'; */
}

.page3 .move_nav>.nav_inner>.nav_list>ul>li>a:hover:after {
  content: "";
  position: absolute;
  top: 45%;
  right: -1.3rem;
  width: .8rem;
  height: 0.8rem;
  background: #ffc5c5;
  border-radius: 50%;
  animation: leftright .38s infinite alternate;
  transition: all .38s linear;
}
@keyframes leftright {
  0% {transform:translate(0,0);}
  100% {transform:translate(.8rem,0);}
} 

.page3 .move_nav>.nav_inner>.nav_foot {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.page3 .move_nav>.nav_inner>.nav_foot>ul>li {
  color: #fff;
  font-family: 'Pretendard-Thin';
}
.page3 .move_nav>.nav_inner>.nav_foot>ul>li>a {
  color: #fff;
}
.page3 .move_nav>.nav_inner>.nav_foot>ul>li>a:hover {
  color: #ffbcbc;
  transition: all .5s ease;
}
.page3 .move_nav>.nav_inner>.nav_foot>span {
  color: #fff;
  font-size: .9rem;
  font-family: 'Pretendard-Thin';
}
.page3 .move_nav>.nav_inner>.nav_foot>span:first-of-type {
  padding-left: 1rem;
}
.page3 .move_nav>.nav_inner>.nav_foot>span:last-of-type {
  display: block;
  position: relative;
  padding: 2.6rem 1.4rem 0 0;
  color: #ffbcbc;
}


.page3_inner {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}
.page3_inner>div>.inner_title {
  display: block;
  position: relative;
  width: 14rem;
  background-size: contain;
  margin-top: 4.687rem;
  margin-left: -5rem;
  margin-right: -5rem;
  font-size: 2.5rem;
  font-family: 'Cairo-ExtraLight';
  transform: rotate(-90deg);
}
.page3_inner>div.line:before {
  content: "";
  position: absolute;
  width: 0.00625rem;
  height: 100%;
  background: #333;
  /* opacity: 0;
  transform: translateY(-25%);
  transition: all 1s ease-in-out; */
}
/* .page3_inner>div.line.on:before {
  opacity: 1;
  transform: translateY(0);
} */
.page3_inner>div.line:after {
  content: "";
  position: absolute;
  top: 99.9%;
  left: -0.1875rem;
  width: 0.4375rem;
  height: 0.4375rem;
  border-radius: 50%;
  background: #333;
}

/* 프로젝트 컨텐츠 공통 style */
.pj_train {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-around; */
  /* gap: 22%; */
  width: 100%;
  height: 100%;
  /* padding: 40px; */
}
.pj_inner {
  position: relative;
  width: 100%;
  height: calc(100vh - 80px);
  margin: 0 -2rem;
}
.pj_inner:before {
  content: "";
  position: absolute;
  top: 4.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 80rem;
  height: 80rem;
  background-color: #fff;
  opacity: 70%;
  border-radius: 5rem;
  z-index: -1;
  box-shadow: 0 .5rem 6rem #dedede;
}

.pj_title {
  text-align: center;
  line-height: 1.6;
}
.pj_title>h3 {
  font-family: 'Cairo-ExtraLight';
  font-size: 5rem;
  /* text-shadow: .1rem .1rem .1rem #969696; */
}
.pj_title>span {
  display: block;
  /* width: 17rem; */
  height: 2.3rem;
  line-height: 2.2rem;
  margin: .3rem auto 0;
  font-family: 'Pretendard-Regular';
  font-size: 1.2rem;
  /* border: 1px solid #333; */
  border-radius: 10rem;
}

/* 컨텐츠 전체 */
.pj_content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding-right: 14rem;
  /* border: 1px solid yellowgreen; */
}
.pj_content>img {
  width: 46rem;
  /* border: 1px solid blue; */
}
/* 에르메스 */
.hermes .pj_content>img {
  width: 49rem;
  margin-top: 1rem;
}
.pj_content>.pj_txt {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  margin-top: -5rem;
  /* border: 1px solid orange; */
}
/* 개별 로고 */
.danggn .pj_content>.pj_txt>h4 {
  width: 15.5rem;
  height: 4.3125rem;
  text-indent: -999999px;
  background: url(../img/danggn_logo.svg) no-repeat;
  background-size: contain;
}
.hermes .pj_content>.pj_txt>h4 {
  width: 15.5rem;
  height: 4.3125rem;
  text-indent: -999999px;
  background: url(../img/hermes_logo.svg) no-repeat;
  background-size: contain;
}
.binggrae .pj_content>.pj_txt>h4 {
  width: 11rem;
  height: 3rem;
  text-indent: -999999px;
  background: url(../img/binggrae_logo.png) no-repeat;
  background-size: contain;
}
.ralph .pj_content>.pj_txt>h4 {
  width: 15.5rem;
  height: 4.3125rem;
  text-indent: -999999px;
  background: url(../img/ralph_logo.svg) no-repeat;
  background-size: contain;
}


.pj_content>.pj_txt>.pj_detail>ul {}
.pj_content>.pj_txt>.pj_detail>ul>li:last-of-type {
  margin-top: 2rem;
}

.pj_content>.pj_txt>.pj_detail>ul>li>dl {}
.pj_content>.pj_txt>.pj_detail>ul>li>dl>dt {
  position: relative;
  font-family: 'Cairo', sans-serif;
  font-size: 1.5rem;
  text-indent: .7rem;
}
.pj_content>.pj_txt>.pj_detail>ul>li>dl>dt:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -.04rem;
  width: .12rem;
  height: 1.4rem;
  background: #333;
}
.pj_content>.pj_txt>.pj_detail>ul>li>dl>dd {
  font-family: 'Pretendard-ExtraLight';
  line-height: 160%;
  font-size: 1.2rem;
  text-indent: .7rem;
}
.pj_content>.pj_txt>.pj_detail>ul>li>dl>dd>strong {
  font-family: 'Pretendard-Bold';
}
.hermes .pj_detail>ul>li:last-of-type>dl>dd:nth-of-type(2) {
  text-indent: 1.3rem;
}
/* .pj_content>.pj_txt>.pj_detail>ul>li>dl>dd:nth-of-type(even) {

} */

.pj_content>.pj_txt>.pj_btn>ul {
  display: flex;
  gap: 1rem;
}
.pj_content>.pj_txt>.pj_btn>ul>li {

  cursor: pointer;
}

.pj_content>.pj_txt>.pj_btn>ul>li>a {
  display: block;
  border: 1px solid #333;
  padding: .6rem 1.5rem;
  border-radius: 10rem;
}
.pj_content>.pj_txt>.pj_btn>ul>li>a:hover {
  background: #333;
  color: #fff;
}

.ralph>.pj_inner>.pj_content>img {
  display: block;
  width: 37.5rem;
  height: 41rem;
}

/* 페이지네이션 스타일 */
/* 기본 style */
#slick-slide-control00,
#slick-slide-control01,
#slick-slide-control02,
#slick-slide-control03 {
  position: absolute;
  top: 50%;
  right: 17rem;
  width: .75rem;
  height: .75rem;
  background: #fff ; border:none; box-shadow:none; border-radius: 50%;
  padding:0; overflow:visible; cursor:pointer;
  text-indent: -999999px;
}
#slick-slide-control01 {
  top: 53%;
}
#slick-slide-control02 {
  top: 56%;
}
#slick-slide-control03 {
  top: 59%;
}
/* active 되었을때(클릭 or 해당하는 슬라이드에 갔을때) style */
ul.slick-dots>li.slick-active>button#slick-slide-control00 {
  background: #333;
}
ul.slick-dots>li.slick-active>button#slick-slide-control01 {
  background: #333;
}
ul.slick-dots>li.slick-active>button#slick-slide-control02 {
  background: #333;
}
ul.slick-dots>li.slick-active>button#slick-slide-control03 {
  background: #333;
}

/* 당근마켓 */
.danggn {
  position: relative;
}
.danggn_vali {
  display: none;
  position: absolute;
  top: 11.5rem;
  left: 15.2rem;
  width: 80rem;
  height: 80rem;
  background: #D4D4D430;
  border-radius: 5rem;
  /* filter: blur(1.25rem); */
  backdrop-filter: blur(.5rem);
  transition: all 1s ease;
  animation: up 1.5s;
  /* box-shadow: 0 .5rem 2rem #dedede; */
}
@keyframes up {
  0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
  }
  to {
      opacity: 1;
      transform: translateZ(0);
  }
}
.danggn_vali.on {
  display: block;
  transition: all .4s ease-in-out;
}
.danggn_vali.close {
  display: none;
  transition: all .4s ease-in-out;
}
.danggn_vali>img {
  display: block;
  margin: 3.8rem auto;
  /* border-radius: .8rem; */
}
.danggn_vali>img:first-of-type {
  width: 40rem;
  margin-bottom: -2rem;
}
.danggn_vali>img:nth-of-type(2) {
  width: 40rem;
  margin-bottom: -2rem;
}
.danggn_vali>img:last-of-type {
  width: 40rem;
}
.danggn_vali .btn_vali_close {
  position: relative;
}
.danggn .btn_vali_close>button {
  display: none;
  position: absolute;
  bottom: 43rem;
  right: 24rem;
  width: 1.3rem;
  height: 1.3rem;
  background: url(../img/btn_close_bk.svg) no-repeat;
  text-indent: -9999999px;
  border: none;
  cursor: pointer;
  transition: all 1s ease;
  animation: down 1.7s;
}
@keyframes down {
  0% {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
  }
  to {
      opacity: 1;
      transform: translateZ(0);
  }
}
.danggn .btn_vali_close>button.on {
  display: block;
  transition: all .4s ease-in-out;
}
.danggn .btn_vali_close>button.close {
  display: none;
  transition: all .4s ease-in-out;
}


/* 에르메스 */


/* 빙그레 */
.binggrae {
  position: relative;
}
.binggrae_vali {
  display: none;
  position: absolute;
  top: 11.5rem;
  left: 15.2rem;
  width: 80rem;
  height: 80rem;
  background: #D4D4D430;
  border-radius: 5rem;
  /* filter: blur(1.25rem); */
  backdrop-filter: blur(.5rem);
  transition: all 1s ease;
  animation: up 1.5s;
  /* box-shadow: 0 .5rem 2rem #dedede; */
}
@keyframes up {
  0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
  }
  to {
      opacity: 1;
      transform: translateZ(0);
  }
}
.binggrae_vali.on {
  display: block;
  transition: all .4s ease-in-out;
}
.binggrae_vali.close {
  display: none;
  transition: all .4s ease-in-out;
}
.binggrae_vali>img {
  display: block;
  margin: 3.8rem auto;
  /* border-radius: .8rem; */
}
.binggrae_vali>img:first-of-type {
  width: 40rem;
  margin-bottom: -2rem;
}
.binggrae_vali>img:nth-of-type(2) {
  width: 40rem;
  margin-bottom: -2rem;
}
.binggrae_vali>img:last-of-type {
  width: 40rem;
}
.binggrae .btn_vali_close {
  position: relative;
}
.binggrae .btn_vali_close>button {
  display: none;
  position: absolute;
  bottom: 43rem;
  right: 24rem;
  width: 1.3rem;
  height: 1.3rem;
  background: url(../img/btn_close_bk.svg) no-repeat;
  text-indent: -9999999px;
  border: none;
  cursor: pointer;
  transition: all 1s ease;
  animation: down 1.7s;
}
@keyframes down {
  0% {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
  }
  to {
      opacity: 1;
      transform: translateZ(0);
  }
}
.binggrae .btn_vali_close>button.on {
  display: block;
  transition: all .4s ease-in-out;
}
.binggrae .btn_vali_close>button.close {
  display: none;
  transition: all .4s ease-in-out;
}


/* 랄프로렌 */


/* // 3 페이지 */

/* 4 페이지 */
/* .section-group--1>.page4 {
  width: 100%;
  padding: 2.5rem;
}
.page4_inner {
  width: 100%;
  height: 100%;
}
.page4_inner>.content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
} */



/* 6 페이지(touch) */
.section-group--2 {
  /* position: relative; */
}
.section-group--2>.page6 {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* padding: 40px; */
}

/* move menu */
.page6 .move_menu {
  position: relative;
}
.page6 .move_menu>button {
  /* display: none; */
  position: absolute;
  top: 1.7rem;
  left: 114.5rem;
  width: 2rem;
  height: 2rem;
  margin-bottom: 2.4rem;
  background: url(../img/menu.svg) no-repeat 50%;
  background-size: contain;
  /* text-indent: -999999vw; */
  transition: all 1s ease 1s;
  border:none;
  cursor:pointer;
  z-index: 1;
  /* animation: rotate-anime 6s infinite linear; */
  opacity: 0;
}
@keyframes rotate-anime {
  0% { transform: rotate(0); }
100% { transform: rotate(360deg); }
}
.page6 .move_menu:hover {
  opacity: 100%;
  /* transform: rotate(0); */
}
.page6 .move_menu>button>span {
  opacity: 0;
}
.page6 .move_menu>button.on {
  /* display: block; */
  opacity: 1;
}

/* move nav */
.page6 .move_nav {
  display: none;
  position: absolute;
  top: 0;
  left: -150vw;
  width: 150vw;
  height: 100vh;
  z-index: 100;
  background: #111111;
  border-radius: 50rem;
  transition: left .8s ease-in-out 0s;
  /* z-index: 1; */
  animation: navActive 1s;
}
@keyframes navActive {
  0% {transform: scale(0);}
  100% {transform: scale(1);}
}
.page6 .move_nav.on {
  /* display: block; */
  left: -25vw;
}
.page6 .move_nav>.nav_inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 5rem 13rem;
}
.page6 .move_nav>.nav_inner>.nav_header {
  display: flex;
  justify-content: space-between;
}

.page6 .move_nav>.nav_inner>.nav_header>.btn_close>button {
  position: relative;
  color: #fff;
  font-size: 1rem;
  font-family: 'Pretendard-ExtraLight';
  text-indent: 2.2rem;
  background: inherit ; border:none; box-shadow:none; border-radius:0;
  padding:0; overflow:visible; cursor:pointer;
}
.page6 .move_nav>.nav_inner>.nav_header>.btn_close>button:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 1.1rem;
  height: 1.1rem;
  background:  url(../img/btn_close_lp.svg) no-repeat;
  background-size: contain;
}

.page6 .move_nav>.nav_inner>.nav_header>.nav_logo>a {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: -1.7rem;
  font-family: 'Cairo-ExtraLight';
  font-size: 2.1rem;
  color: #fff;
  /* border: 1px solid orange; */
}
.page6 .move_nav>.nav_inner>.nav_header>.nav_logo>a>span {
  margin-top: -.6rem;
  font-family: 'Cairo-ExtraLight';
  font-size: 0.5rem;
  color: #fff;
}

.page6 .move_nav>.nav_inner>.nav_header>.icon>ul {
  display: flex;
  gap: 1.9rem;
}
.page6 .move_nav>.nav_inner>.nav_header>.icon>ul>li:first-of-type>a {
  display: block;
  width: 2rem;
  height: 2rem;
  background: url(../img/github_ico.svg) no-repeat;
  background-size: 2rem 2rem;
  transition: all .3s linear;
}
.page6 .move_nav>.nav_inner>.nav_header>.icon>ul>li:first-of-type>a:hover {
  transform:translate(0,-.4rem);
}
.page6 .move_nav>.nav_inner>.nav_header>.icon>ul>li:last-of-type>a {
  display: block;
  width: 2rem;
  height: 2rem;
  background: url(../img/email_wh_ico.svg) no-repeat;
  background-size: 2rem 2rem;
  transition: all .3s linear;
}
.page6 .move_nav>.nav_inner>.nav_header>.icon>ul>li:last-of-type>a:hover {
  transform:translate(0,-.4rem);
}
.page6 .move_nav>.nav_inner>.nav_header>.icon>ul>li>a {
  display: block;
  color: transparent
  /* text-indent: -999999px; */
}

.page6 .move_nav>.nav_inner>.nav_list {
  margin: 7rem auto;
  text-align: center;
}

.page6 .move_nav>.nav_inner>.nav_list>ul>li>a {
  position: relative;
  line-height: 1.9;
  letter-spacing: .2rem;
  color: #fff;
  font-family: 'Cairo', sans-serif;
  font-weight: 300;
  font-size: 3.5rem;
  background: inherit ; border:none; box-shadow:none; border-radius:0;
  padding:0; overflow:visible; cursor:pointer;
  transition: all .5s ease;
}
.page6 .move_nav>.nav_inner>.nav_list>ul>li>a:hover {
  color: #ffc5c5;
  /* font-family: 'Pretendard-Thin'; */
}

.page6 .move_nav>.nav_inner>.nav_list>ul>li>a:hover:after {
  content: "";
  position: absolute;
  top: 45%;
  right: -1.3rem;
  width: .8rem;
  height: 0.8rem;
  background: #ffc5c5;
  border-radius: 50%;
  animation: leftright .38s infinite alternate;
  transition: all .38s linear;
}
@keyframes leftright {
  0% {transform:translate(0,0);}
  100% {transform:translate(.8rem,0);}
} 

.page6 .move_nav>.nav_inner>.nav_foot>.nav_profile {
  display: flex;
  justify-content: space-between;
}

.page6 .move_nav>.nav_inner>.nav_foot>.nav_profile>ul>li {
  color: #fff;
  font-family: 'Pretendard-Thin';
}
.page6 .move_nav>.nav_inner>.nav_foot>.nav_profile>ul>li>a {
  color: #fff;
}
.page6 .move_nav>.nav_inner>.nav_foot>.nav_profile>ul>li>a:hover {
  color: #ffbcbc;
  transition: all .5s ease;
}
.page6 .move_nav>.nav_inner>.nav_foot>.nav_profile>span {
  display: block;
  position: relative;
  padding: 2.6rem 1.4rem 0 0;
  color: #ffc5c5;
  font-size: 1.2rem;
  font-family: 'Pretendard-Thin';
}
.page6 .move_nav>.nav_inner>.nav_foot>.nav_profile>span:after {
  content: "";
  position: absolute;
  top: 67%;
  right: 0;
  width: 1.2rem;
  height: 1.2rem;
  background: url(../img/smile_lp.svg) no-repeat;
  background-size: contain;
}

.page6>.container {
  position: relative;
  width: 100%;
  height: 100%;
  /* padding-right: 20px;
  padding-left: 20px; */
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}
.page6>.container>.video {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* transform: translateZ(0); */
  /* overflow: hidden; */
}
.page6>.container>.page6_inner {
  /* display: flex; */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  /* padding: 40px; */
  /* border: 1px solid red; */
}
.page6>video {
  /* object-fit: cover; */
}
.page6>.container>.page6_inner>h4 {
  /* display: flex; */
  /* justify-content: flex-end; */
  /* flex-direction: row; */
  position: relative;
  width: 100vw;
    /* margin-top: -50px; */
  text-align: center;
  font-family: 'Cairo-ExtraLight';
  font-size: 3rem;
  /* font-weight: 900; */
  backdrop-filter: blur(3.125rem);
  /* background-color: #fff; */
  background: rgba(255, 255, 255, 0.3);
}

/* 프로필 */
.page6>.container>.page6_inner>.contact_info>.profile {
  display: flex;
  justify-content: center;
  /* justify-content: space-around; */
  gap: 13rem;
  align-items: center;
  width: 100%;
  height: 25rem;
  margin-top: 12rem;
  /* border: 1px solid blue; */
  /* background: rgba(255, 255, 255, 0.3); */
}
.page6>.container>.page6_inner>.contact_info>.profile>ul {
  display: flex;
  flex-direction: column;
  gap: 5.625rem;
  /* border: 1px solid blue; */
}
.page6>.container>.page6_inner>.contact_info>.profile>ul:first-of-type {
  margin-top: -.9rem;
}

.page6>.container>.page6_inner>.contact_info>.profile>ul>li>dl {}
.page6>.container>.page6_inner>.contact_info>.profile>ul>li>dl>dt {
  position: relative;
  margin-bottom: .2rem;
  font-family: 'Cairo';
  font-weight: 600;
  font-size: 1.2rem;
  text-indent: 1.25rem;
  /* border: 1px solid red; */
}
.page6>.container>.page6_inner>.contact_info>.profile>ul>li>dl>dt:before {
  content: "";
  position: absolute;
  top: 1.0625rem;
  left: 0.125rem;
  width: 0.3125rem;
  height: 0.3125rem;
  background: #333;
  border-radius: 50%;
}
.page6>.container>.page6_inner>.contact_info>.profile>ul>li>dl>dd {
  font-size: 1.2rem;
  line-height: 1.5;
  text-indent: 1.2rem;
  font-family: 'Pretendard-ExtraLight';
}
.page6>.container>.page6_inner>.contact_info>.profile>ul>li>dl>dd>span {
  display: block;
  font-size: 1rem;
  text-indent: 1.2rem;
  /* border: 1px solid black; */
}

/* skill */
.page6>.container>.page6_inner>.contact_info>.profile>ul:first-of-type>li:last-of-type>dl>dd {
  display: flex;
  gap: 1rem;
  margin-left: 1.3rem;
}
/* html5 */
.page6_inner>.contact_info>.profile>ul:first-of-type>li:last-of-type>dl>dd>span:first-of-type {
  display: block;
  width: 2rem;
  height: 2rem;
  background: url(../img/html5.svg) no-repeat;
  background-size: contain;
  filter : grayscale(100%);
  cursor: pointer;
}
.page6_inner>.contact_info>.profile>ul:first-of-type>li:last-of-type>dl>dd>span:first-of-type>span {
  opacity: 0;
}
.page6_inner>.contact_info>.profile>ul:first-of-type>li:last-of-type>dl>dd>span:first-of-type:hover {
  filter : grayscale(0%);
}
/* css3 */
.page6_inner>.contact_info>.profile>ul:first-of-type>li:last-of-type>dl>dd>span:nth-of-type(2) {
  display: block;
  width: 2rem;
  height: 2rem;
  background: url(../img/css3.svg) no-repeat;
  background-size: contain;
  filter : grayscale(100%);
  cursor: pointer;
}
.page6_inner>.contact_info>.profile>ul:first-of-type>li:last-of-type>dl>dd>span:nth-of-type(2)>span {
  opacity: 0;
}
.page6_inner>.contact_info>.profile>ul:first-of-type>li:last-of-type>dl>dd>span:nth-of-type(2):hover {
  filter : grayscale(0%);
}
/* javascript */
.page6_inner>.contact_info>.profile>ul:first-of-type>li:last-of-type>dl>dd>span:nth-of-type(3) {
  display: block;
  width: 2rem;
  height: 2rem;
  background: url(../img/javascript.svg) no-repeat;
  background-size: contain;
  border-radius: .4rem;
  filter : grayscale(100%);
  cursor: pointer;
}
.page6_inner>.contact_info>.profile>ul:first-of-type>li:last-of-type>dl>dd>span:nth-of-type(3)>span {
  opacity: 0;
  z-index: -1;
}
.page6_inner>.contact_info>.profile>ul:first-of-type>li:last-of-type>dl>dd>span:nth-of-type(3):hover {
  filter : grayscale(0%);
}
/* jquery */
.page6_inner>.contact_info>.profile>ul:first-of-type>li:last-of-type>dl>dd>span:nth-of-type(4) {
  display: block;
  width: 2rem;
  height: 2rem;
  background: url(../img/jquery.svg) no-repeat;
  background-size: contain;
  filter : grayscale(100%);
  cursor: pointer;
}
.page6_inner>.contact_info>.profile>ul:first-of-type>li:last-of-type>dl>dd>span:nth-of-type(4)>span {
  opacity: 0;
  z-index: -1;
}
.page6_inner>.contact_info>.profile>ul:first-of-type>li:last-of-type>dl>dd>span:nth-of-type(4):hover {
  filter : grayscale(0%);
}
/* photoshop */
.page6_inner>.contact_info>.profile>ul:first-of-type>li:last-of-type>dl>dd>span:nth-of-type(5) {
  display: block;
  width: 2rem;
  height: 2rem;
  background: url(../img/photoshop.svg) no-repeat;
  background-size: contain;
  filter : grayscale(100%);
  cursor: pointer;
}
.page6_inner>.contact_info>.profile>ul:first-of-type>li:last-of-type>dl>dd>span:nth-of-type(5)>span {
  opacity: 0;
  z-index: -1;
}
.page6_inner>.contact_info>.profile>ul:first-of-type>li:last-of-type>dl>dd>span:nth-of-type(5):hover {
  filter : grayscale(0%);
}
/* illustrator */
.page6_inner>.contact_info>.profile>ul:first-of-type>li:last-of-type>dl>dd>span:nth-of-type(6) {
  display: block;
  width: 2rem;
  height: 2rem;
  background: url(../img/illustrator.svg) no-repeat;
  background-size: contain;
  filter : grayscale(100%);
  cursor: pointer;
}
.page6_inner>.contact_info>.profile>ul:first-of-type>li:last-of-type>dl>dd>span:nth-of-type(6)>span {
  opacity: 0;
}
.page6_inner>.contact_info>.profile>ul:first-of-type>li:last-of-type>dl>dd>span:nth-of-type(6):hover {
  filter : grayscale(0%);
}
/* figma */
.page6_inner>.contact_info>.profile>ul:first-of-type>li:last-of-type>dl>dd>span:last-of-type {
  display: block;
  width: 2rem;
  height: 2rem;
  background: url(../img/figma.svg) no-repeat;
  background-size: contain;
  filter : grayscale(100%);
  cursor: pointer;
}
.page6_inner>.contact_info>.profile>ul:first-of-type>li:last-of-type>dl>dd>span:last-of-type>span {
  opacity: 0;
}
.page6_inner>.contact_info>.profile>ul:first-of-type>li:last-of-type>dl>dd>span:last-of-type:hover {
  filter : grayscale(0%);
}

/* 메일버튼 */
.page6>.container>.page6_inner>.contact_info>.profile>.email {
  position: relative;
  /* border: 1px solid blue; */
}
.page6>.container>.page6_inner>.contact_info>.profile>.email>a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: .9rem;
  font-family: 'pretendard';
  z-index: 1;
}
.page6>.container>.page6_inner>.contact_info>.profile>.email>a:before {
  content: "";
  position: absolute;
  top: -2.1875rem;
  left: 50%;
  transform: translateX(-50%);
  width: 2.5rem;
  height: 2rem;
  background: url(../img/email.svg) no-repeat center;
  /* background: url(../img/email_wh.svg) no-repeat; */
  background-size: contain;
}
.page6>.container>.page6_inner>.contact_info>.profile>.email:hover {
  transform: scale(0.95);
  transition: all .5s ease-in-out;
}
.page6>.container>.page6_inner>.contact_info>.profile>.email:hover>a:before {
  left: 53%;
  background: url(../img/email_wh.svg) no-repeat;
}

.page6>.container>.page6_inner>.contact_info>.profile>.email>.email_bg {
  width: 18rem;
  height: 18rem;
  background: url(../img/email_bg.svg);
  /* background: url(../img/pink_bg.jpg) no-repeat center; */
  animation: rotate-anime 40s linear infinite;
  background-size: contain;
  border: none;
  border-radius: 50%;
}
@keyframes rotate-anime {
  0% { transform: rotate(0); }
100% { transform: rotate(360deg); }
}
.page6>.container>.page6_inner>.contact_info>.profile>.email:hover>.email_bg {
  /* animation: none; */
}

.page6>.container>.page6_inner>.contact_info>.copyright {
  margin-top: 12rem;
  font-size: 0.9375rem;
  text-align: center;
}
.page6>.container>.page6_inner>.contact_info>.copyright>p {
  color: #363636;
  font-family: 'Pretendard-ExtraLight';
}

/* // 6 페이지 */

}

/* pc view */
